.nav
  = render 'shared/notification'
  .wrapper
    = render 'shared/chat-side'
    .chat-middle
      .chat-top
        .left-header
          .left-header__title
            tech-three
          %ul.left-header__members
            Member：
            %li.member
              濟川奈津美
            %li.member
              田中大貴
            %li.member
              小室裕也
        .right-header
          .right-header__button
            Edit
      .messages
        = render @messages
        .message
          .upper-message
            .upper-message__user-name
              = message.user.name
            .upper-message__date
              = format_posted_time(message.created_at)
          .lower-meesage
            - if message.content.present?
              %p.lower-message__content
                = message.content
            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
      .chat-bottom
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
